---
layout: frontdoor
---

<script type="felocity/control" data-felocity-describes=".blog">
  $("p:first", this).reduceTo().ellipsis({ words: -4 })
</script>
<script type="felocity/control" data-felocity-describes=".github">
  $("a", this).after("<ul></ul>");
  $("ul", this).githubActivity({
    limit: 2,
    user: "Jakobo",
    date_as: "MMM Do YYYY HH:mm", // Aug 20th 2012 hh:mm
    tmpl: ([
      '<li>',
        '<span class="date">__DATE__</span>',
        '<span class="event">__EVENT__</span>',
      '</li>',
    '']).join("")
  })
</script>
<script type="felocity/control" data-felocity-describes=".photo">
  $(this).googlePlusPhotos({user: '115806050983038854461', album: '5792309377280225217', size: 'w220-h220-p'})
</script>
<section class="dominant blog more">
  {% for post in site.posts limit:1 offset:0 %}
  <h2 class="title">{{ post.title }}</h2>
  <a href="{{post.url}}" class="touchable">Read The Full Post</a>
  {{post.content}}
  {% endfor %}
</section>
<section class="supporting github more">
  <h2 class="title">Over on GitHub</h2>
  <a href="https://github.com/jakobo" class="touchable">See All My Projects</a>
</section>
<section class="supporting blog more">
  {% for post in site.posts limit:1 offset:1 %}
  <h2 class="title">{{ post.title }}</h2>
  <a href="{{post.url}}" class="touchable">Read The Full Post</a>
  {{post.content}}
  {% endfor %}
</section>
<section class="supporting photo more">
  <h2 class="title">Photography</h2>
</section>
<section class="supporting contact">
  <h2 class="title">Contact Jakob</h2>
  <ul>
    <li><a href="http://www.twitter.com/jakobo" class="twitter" title="Twitter">Twitter</a></li>
    <li><a href="http://profiles.google.com/jakobheuser" class="email" title="Email">Email</a></li>
    <li><a href="http://www.linkedin.com/in/jakobheuser" class="linkedin" title="LinkedIn">LinkedIn</a></li>
    <li><a href="https://plus.google.com/115806050983038854461/about" class="more" title="More Options">More</a></li>
  </ul>
</section>
