.tile-container {
  composes: force-max-width from "./index.css";
  composes: force-max-height from "./index.css";
  composes: block from "./index.css";
  composes: overflow-hidden from "./index.css";
  composes: bg-white from "./index.css";
  composes: pull-left from "./index.css";
}

.tile-reset {
  composes: force-max-width from "./index.css";
  composes: force-max-height from "./index.css";
  composes: block from "./index.css";
  composes: overflow-hidden from "./index.css";
  composes: relative from "./index.css";
}

/* tile sizes at various widths */
/* TODO breakpoints */
.tile-l {
  width: 800px;
  height: 800px;
}

.tile-m {
  width: 400px;
  height: 400px;
}

.tile-s {
  width: 200px;
  height: 200px;
}
